
html, body{
	overflow-x: hidden;
}

#main{
	width: 100%;
	background-color: white;
	border-bottom: solid 1px #60A5F4;
	padding-top: 80px;
}
#main .content{
	width: 100%;
	background-color: white;
}
#main .content .top{
	width: 80%;
	margin:0 10%;
	padding: 40px 0;
}
#main .content .top>div{
	float: left;
}
#main .content .top .top_left{
	width: 40%;
}
#main .content .top .top_right{
	width: 60%;
}
#main .content .top .top_left>div{
	padding: 0 50px 0 0;
}
#main .content .top .top_left>div h1,#main .content .top .top_left>div h4{
	font-weight: bold;
}
#main .content .top .top_left>div h4{
	margin: 20px 0 0 0;
}
#main .content .top .top_left>div h1:nth-of-type(2){
	margin-bottom: 20px;
}
#main .content .top .top_right{
	height: 100%;
}
#main .content .top .top_right>div{
	float: left;
	width: 50%;
}
#main .content .top .top_right>div>div{
	padding: 0 5px;
}
#main .content .top .top_right>div img{
	width: 100%;
	height: auto;
	max-height: 100%;
	max-width: 100%;
}

#main .content .bottom{
	width: 100%;
	background-color: #FAFAFA;
	padding-top: 20px;
}
#main .content .bottom>div{
	width: 80%;
	margin: 30px 10%;
	margin-bottom: 0;
	padding-bottom: 20px;
}
#main .content .bottom>div h1{
	font-weight: bold;
	text-align: center;
}
#main .content .bottom>div ul li{
	float: left;
	width: 25%;
}
#main .content .bottom>div ul li a{
	display: block;
	padding: 10px 10px;
}
#main .content .bottom>div ul li a img{
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
#main .content .bottom>div ul li p{
	text-align: center;
}
.more{
	width: 80%;
	margin: 40px 10%;
}
.more ul{
	width: 100%;
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
}
.more ul li{	
	text-align: center;
	padding: 10px 5px;
	cursor: pointer;
}

.more ul li:nth-of-type(1),.more ul li:nth-of-type(6){
	flex: 7;
	-moz-box-flex: 7;
	-ms-flex: 7;
	-webkit-flex: 7;
	border: solid 1px #CCCCCC;
}
.more ul li:nth-of-type(2),.more ul li:nth-of-type(5){
	flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	-webkit-flex: 1;
}
.more ul li:nth-of-type(3),.more ul li:nth-of-type(4){
	flex: 2;
	-moz-box-flex: 2;
	-ms-flex: 2;
	-webkit-flex: 2;
	border: solid 1px #CCCCCC;
}
.more ul li:nth-of-type(4){
	margin-left: 5px;
}


.led_bottom{
	position: relative;
	width: 100%;
}
.led_bottom img{
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.led_bottom div{
	color: white;
	width: 100%;
	position: absolute;
	top: 30%;
}
.led_bottom div h1,.led_bottom div p{
	text-align: center;
	margin-bottom: 10px;
	letter-spacing: 2px;
}
.led_bottom div p button{
	width: 230px;
	border: solid 1px #60A5F4;
	border-radius: 30px;
	margin-top: 50px;
	height: 50px;
	line-height: 50px;
    background: -webkit-linear-gradient(left,rgba(195,211,225,0.4) 0%, rgba(255,255,255,0.8) 50%,rgba(195,211,225,0.4) 100%);
  background:  -o-linear-gradient(left,rgba(195,211,225,0.4), rgba(255,255,255,0.8) 50%,rgba(195,211,225,0.4) 100%);
  background: -moz-linear-gradient(left,rgba(195,211,225,0.4), rgba(255,255,255,0.8) 50%,rgba(195,211,225,0.4) 100%);
  background:  linear-gradient(left,rgba(195,211,225,0.4), rgba(255,255,255,0.8) 50%,rgba(195,211,225,0.4) 100%);
}



@media only screen and (min-width:1400px ) {
	#main .content .top,#main .content .bottom>div{
		width: 62%;
		margin:0 19%;
	}
	.more{
		width: 62%;
		margin:40px 19%;
	}
}

@media only screen and (max-width: 1400px) {
	#main{
		padding-top: 40px;
	}
}


@media only screen and (max-width:1200px ) {
	
}


@media only screen and (max-width:767px) {
	
	#main .content .top>div{
		float: left;
		width: 100% !important;
	}
	#main .content .top .top_right{
		margin-top: 20px !important;
	}
	#main .content .top .top_left p,#main .content .top .top_left h1{
		text-align: left;
	}
	#main .content .bottom>div ul li{
		width: 50%;
	}
	.more ul li:nth-of-type(2),.more ul li:nth-of-type(5){
		display: none;
	}
	.more ul li:nth-of-type(3),.more ul li:nth-of-type(4){
		margin: 0 2.5px;
	}
	.led_bottom div p button{
		margin-top: 10px;
	}
	
}
@media only screen and (max-width:640px ) {
	
	.led_top,.middle{
		width: 100%;
	}
	h1,p{
		text-align: center;
	}
	.led_bottom div{
		top: 10%;
	}
	.more ul li:nth-of-type(1),.more ul li:nth-of-type(6){
		display: none;
	}
	.led_bottom div h1,.led_bottom div p{
		font-size: 20px;
	}
	.led_bottom div p button{
		margin-top: 0;
	}
}